
<nav class="navbar navbar-light bg-primary">
   <div class="container-fluid">
     <h2>Restaurent Record App</h2>
     <div class="d-flex">
      <button (click)="clickAddResto()" class="btn btn-success" type="button" data-bs-toggle="modal" >Add Restaurent</button>
      <button routerLink="/login" style="margin-left: 5px;" class="btn btn-danger" type="button" data-bs-toggle="modal">Log Out</button>
    </div>
   </div>
</nav>
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Restaurent Records Management System</h1>
      <p class="col-md-8 fs-4"> You can save Records of Restaurent</p>
      <a class="btn btn-primary btn-lg" type="button" target="_blank" href="https://github.com/sibashish99/Restaurent_Application">Source Code</a>
    </div>
</div>
<table class="table mt-4">
    <thead>
        <tr>
            <th scope="col">Restaurent Id</th>
            <th scope="col">Restaurent Name</th>
            <th scope="col">Restaurent Email</th> 
            <th scope="col">Restaurent Address</th> 
            <th scope="col">Restaurent Phone</th>
            <th scope="col">Restaurent Services</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of allRestaurentData">
            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.address}}</td>
            <td>{{data.mobile}}</td>
            <td>{{data.services}}</td>
            <td>
                <button (click)="onEditResto(data)" class="btn btn-info" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button> &nbsp;
                <button (click)="deleteResto(data.id)" class="btn btn-danger" >Delete</button>
            </td>
        </tr>
    </tbody>
</table>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Records</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="mb-3">
                  <label class="form-label">Name</label>
                  <input type="text" class="form-control" formControlName="name" placeholder="Restaurent Name" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label  class="form-label">Email</label>
                  <input type="email" class="form-control" formControlName="email"  placeholder="abcd@gmail.com" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label class="form-label">Address</label>
                    <input type="text" class="form-control" formControlName="address"  placeholder="Abc road , near abc , pin: 12546" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label  class="form-label">Mobile</label>
                    <input type="number" class="form-control" formControlName="mobile"  placeholder="+91-1234567890" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label  class="form-label">Services</label>
                    <input type="text" class="form-control" formControlName="services"  placeholder="chai , coffee" id="exampleInputPassword1">
                </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="clear">Close</button>
          <button *ngIf="showAdd" type="button" class="btn btn-primary" (click)="addRestaurent()">Add Details</button>
          <button *ngIf="showBtn" type="button" class="btn btn-primary" (click)="updateResto()">Update</button>
        </div>
      </div>
    </div>
  </div>
