.card{
    position: relative;
    left: 50%;
    margin-top: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 55px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.377);

}